<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<script src="/tinymce/tinymce.min.js"></script>

<script>tinymce.init({ language:'pt_BR', selector:'textarea',plugins:['advlist autolink link image lists print preview hr searchreplace  wordcount fullscreen insertdatetime media  save table paste emoticons']});</script>



<div class="container">

    <div class="card mt-5">
        <div class="card-header">
            <h2>Novo artigo</h2>
        </div>
        <div class="card-body">
            <form  method="POST" action="/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo">
                <textarea class="form-control mt-2" name="body"  cols="30" rows="5" placeholder="Escreva seu artigo aqui!">

                </textarea>
                <button class="btn btn-success mt-2">Cadastrar</button>
            </form>
        </div>


    </div>
</div>